body {
    background-color: antiquewhite;
    width: 100%;
    padding: 5px;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
    height: 120px;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(118, 118, 240);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}